## Data Manipulations

In [4]:
import pandas as pd

In [3]:
df = pd.read_csv('FSL.csv')

# df['Total'].head(5).mean()

ParserError: Error tokenizing data. C error: Expected 16 fields in line 12, saw 31

In [18]:
## Handling missing values 

df.isnull().any(axis=0)

print(df.isnull().sum())

Country                             0
Year                                0
Rank                                0
Total                               0
S1: Demographic Pressures           0
S2: Refugees and IDPs               8
C3: Group Grievance                 7
E3: Human Flight and Brain Drain    0
E2: Economic Inequality             0
E1: Economy                         0
P1: State Legitimacy                0
P2: Public Services                 0
P3: Human Rights                    0
C1: Security Apparatus              0
C2: Factionalized Elites            0
X1: External Intervention           0
dtype: int64

In [ ]:
## fliing missing values

df.fillna(0)

,Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Switzerland,2023,175th,17.8,2.4,3.2,2.1,1.0,2.4,1.6,0.3,1.6,0.4,1.4,1.0,0.4
175,New Zealand,2023,176th,16.7,1.1,1.2,2.0,1.6,2.6,2.6,0.5,1.1,0.5,1.6,1.4,0.5
176,Finland,2023,177th,16.0,1.7,1.9,0.3,1.5,1.6,2.7,0.4,1.0,0.5,2.0,1.4,1.0
177,Iceland,2023,178th,15.7,1.5,1.5,0.5,1.6,1.5,2.6,0.4,0.9,0.4,0.4,1.8,2.6
178,Norway,2023,179th,14.5,1.4,1.7,3.1,0.7,1.4,1.4,0.4,1.0,0.4,1.4,1.1,0.5

In [ ]:
# filling missing values with the mean of the column

df['isNan'] = df['S2: Refugees and IDPs'].fillna(df['S2: Refugees and IDPs'].mean())

In [26]:
df['S2: Refugees and IDPs'].head(40).isnull().sum()

np.int64(0)

In [27]:
# renaming columns

df = df.rename(columns={'Country':'All Country'})
df.head(5)

,All Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention,isNan
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1,9.0
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2,9.6
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2,10.0
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1,9.8
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0,9.1

In [28]:
# changing data type
df['New Total'] = df['Total'].astype(int)
df.head(5)

,All Country,Year,Rank,Total,S1: Demographic Pressures,S2: Refugees and IDPs,C3: Group Grievance,E3: Human Flight and Brain Drain,E2: Economic Inequality,E1: Economy,P1: State Legitimacy,P2: Public Services,P3: Human Rights,C1: Security Apparatus,C2: Factionalized Elites,X1: External Intervention,isNan,New Total
0,Somalia,2023,1st,111.9,10.0,9.0,8.7,8.6,9.1,9.5,9.6,9.8,9.0,9.5,10.0,9.1,9.0,111
1,Yemen,2023,2nd,108.9,9.6,9.6,8.8,6.4,7.9,9.9,9.8,9.6,9.6,8.6,9.9,9.2,9.6,108
2,South Sudan,2023,3rd,108.5,9.7,10.0,8.6,6.5,8.6,8.6,9.8,9.7,8.7,9.9,9.2,9.2,10.0,108
3,Congo Democratic Republic,2023,4th,107.2,9.7,9.8,9.4,6.4,8.4,8.1,9.3,9.3,9.3,8.8,9.6,9.1,9.8,107
4,Syria,2023,5th,107.1,7.4,9.1,9.1,8.0,6.5,9.6,10.0,9.0,9.1,9.4,9.9,10.0,9.1,107

In [39]:
df.loc[0]

All Country                         Somalia
Year                                   2023
Rank                                    1st
Total                                 111.9
S1: Demographic Pressures              10.0
S2: Refugees and IDPs                   9.0
C3: Group Grievance                     8.7
E3: Human Flight and Brain Drain        8.6
E2: Economic Inequality                 9.1
E1: Economy                             9.5
P1: State Legitimacy                    9.6
P2: Public Services                     9.8
P3: Human Rights                        9.0
C1: Security Apparatus                  9.5
C2: Factionalized Elites               10.0
X1: External Intervention               9.1
isNan                                   9.0
New Total                               111
Name: 0, dtype: object

In [41]:
grouped_sum = df.groupby(['Rank','Year'])['Total'].sum()
print(grouped_sum)

Rank   Year
100th  2023     65.3
101st  2023     65.1
102nd  2023     65.1
103rd  2023     65.1
104th  2023     64.5
               ...
96th   2023     66.4
97th   2023     66.4
98th   2023     65.6
99th   2023     65.5
9th    2023    104.6
Name: Total, Length: 179, dtype: float64

In [42]:
# aggregate multiple functions
grouped_by_agg = df.groupby('All Country')['Total'].agg(['sum','mean','count'])
print(grouped_by_agg)

                       sum   mean  count
All Country
Afghanistan          106.6  106.6      1
Albania               56.8   56.8      1
Algeria               70.0   70.0      1
Angola                86.9   86.9      1
Antigua and Barbuda   53.8   53.8      1
...                    ...    ...    ...
Venezuela             90.5   90.5      1
Vietnam               58.3   58.3      1
Yemen                108.9  108.9      1
Zambia                81.8   81.8      1
Zimbabwe              96.9   96.9      1

[179 rows x 3 columns]

In [ ]:
## Merginh and Joining DataFrames

# Creating Sample DataFrame
df1 = pd.DataFrame({'Key':['A','B','C'],'Value1':[1,2,3]})
df2 = pd.DataFrame({'Key':['A','B','D'],'Value1':[4,5,6]})

In [46]:
print(df1)
print(df2)

  Key  Value1
0   A       1
1   B       2
2   C       3
  Key  Value1
0   A       4
1   B       5
2   D       6

In [48]:
# Merging DataFrame on the key column

df3 = pd.merge(df1,df2,on='Key',how='inner')
df3

  Key  Value1_x  Value1_y
0   A         1         4
1   B         2         5

In [49]:
df3 = pd.merge(df1,df2,on='Key',how='outer')
df3

  Key  Value1_x  Value1_y
0   A       1.0       4.0
1   B       2.0       5.0
2   C       3.0       NaN
3   D       NaN       6.0